<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('layout/header') -%>
      <main>
        <h1>About Me</h1>
        <img
          src="https://lh3.googleusercontent.com/ogw/ADea4I4idDMZ1p0PkW-DeFdv0iTbS4ycf3GX5Rx3IoUftQ=s32-c-mo"
          alt="face"
        />
        <p>My name is Tu Tran. I'm a full-stack software developer</p>
        <a href="/resume.pdf">See my resume</a>
      </main>
    </div>
  </body>
</html>
