<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Me</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') -%>
      <main>
        <div class="breadcum">
          <a href="/">Home</a>
          >
          <a>Contact</a>
        </div>

        <h1>Contact Me</h1>
        <form>
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" id="firstName" />
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" id="lastName" />
          <label for="message">Message</label>
          <textarea placeholder="Your message..." id="message"></textarea>
          <a href="/" class="btn">Send</a>
        </form>
      </main>
      <%- include('partials/footer') -%>
    </div>
  </body>
</html>
