<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') -%>
      <main>
        <div class="breadcum">
          <a href="/">Home</a>
          >
          <a>Projects</a>
        </div>
        <h1>Projects</h1>
        <div class="project-container">
          <h2>Full Stack: 📷 E-commerce store</h2>
          <p>
            Tech Stacks: Ant Design UI, Reactjs, React-Query, MongoDB,
            Nodejs/Expressjs, Stripe Checkout
          </p>
          <p>
            Main Features: CRUD Product, Checkout, Review, Orders, Payment,
            Authentication/Authorization
          </p>
          <p>Hosting: Heroku</p>
          <a
            href="https://onlinecamstore.herokuapp.com/"
            target="__blank"
            class="btn"
            >Live site</a
          >
          <a
            href="https://github.com/tutran-se/camstore-full-v2"
            target="__blank"
            class="btn"
            >Github</a
          >
        </div>
        <div class="project-container">
          <h2>Full Stack: 🔥 Coding Academy</h2>
          <p>
            Tech Stacks: Chakra UI, Nextjs, GraphQL, Strapi Headless CMS,
            Sendgrid, Stripe Checkout
          </p>
          <p>
            Main Features: CRUD Course, Authentication/Authorization, Google
            OAuth, Payment, SEO
          </p>
          <p>Hosting: Front End hosted on Vercel, Back End hosted on Heroku</p>
          <a
            href="https://online-coding-academy-v1.vercel.app/"
            target="__blank"
            class="btn"
            >Live site</a
          >
          <a
            href="https://github.com/tutran-se/coding-academy-client"
            target="__blank"
            class="btn"
            >Github</a
          >
        </div>
        <div class="project-container">
          <h2>Full Stack: 💡 Realtime Blog</h2>
          <p>Tech Stacks: Pure HTML/CSS, Reactjs, Firebase</p>
          <p>
            Main Features: Real-time CRUD Post, Like, Comment, Notification,
            Firebase Google OAuth
          </p>
          <p>Hosting: : Firebase Hosting Service</p>
          <a href="https://realtimeblogapp.com/" target="__blank" class="btn"
            >Live site</a
          >
          <a
            href="https://github.com/tutran-se/real-time-blog-v2"
            class="btn"
            target="__blank"
            >Github</a
          >
        </div>
      </main>
      <%- include('partials/footer') -%>
    </div>
  </body>
</html>
