<header>
  <div>
    <a href="/" class="logo">TT</a>
  </div>

  <ul>
    <li><a href="/about-me">About me</a></li>
    <li><a href="/contact">Contact me</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul>
</header>
